.board {
  max-width: 630px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* border: 5px solid #fff; */
  -webkit-box-shadow: -1px 0px 19px 9px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -1px 0px 19px 9px rgba(0, 0, 0, 0.32);
  box-shadow: -1px 0px 19px 9px rgba(0, 0, 0, 0.32);
  border-radius: 6px;
}

.board input {
  font-size: 24px;
  text-align: center;
  height: 60px;
  border: 1px solid #000;
}

.board input:nth-child(3n):not(:nth-child(9n)) {
  border-right: 5px solid #000;
}
.board input:nth-child(n + 19):nth-child(-n + 27) {
  border-bottom: 5px solid #000;
}
.board input:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 5px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tileInit {
  background-color: #2f7eb9;
  color: #fff;
}

.tileEdit {
  color: #000;
}
